                                        Module 4 Programming Assignment - Modules and Databases
Author: Rosa Turner    

Date: 04/12/2025

11.1 Create a file called zoo.py. In it, define a function called hours() that prints the string 'Open 9-5 daily'. Then, use the interactive interpreter to import the zoo module and call its hours() function.

In [12]:
# Step 1: Create the zoo.py file with the hours() function
with open("zoo.py", "w") as file:
    file.write("""
def hours():
    print('Open 9-5 daily')
""")

# Import zoo and call the function
import zoo
zoo.hours()

Open 9-5 daily

11.2 In the interactive interpreter, import the zoo module as menagerie and call its hours() function.

In [13]:
# Import the zoo module using an alias and call the function
import zoo as menagerle
menagerle.hours()

Open 9-5 daily

16.8  Database Excercise
1. Create books.db and insert the book data.
2. Print tiles in titles in alphabetical order with sqlite3
3. Use the sqlalchemy module to connect to the sqlite3 database books.db, select and print the title column from the book table in alphabetical order.

In [19]:
import sqlite3

# Connect to database
conn = sqlite3.connect("books.db")
cursor = conn.cursor()

# Create table
cursor.execute("DROP TABLE IF EXISTS book")
cursor.execute("""
CREATE TABLE IF NOT EXISTS book (
    title TEXT,
    author TEXT,
    year INTEGER
)
""")

# Insert Data
books = [
    ("The Weirdstone of Brisingamen", "Alan Garner", 1960),
    ("Perdido Street Station", "China Mi√©ville", 2000),
    ("Thud!", "Terry Pratchett", 2005),
    ("The Spellman Files", "Lisa Lutz", 2007),
    ("Small Gods", "Terry Pratchett", 1992)
]

cursor.executemany("INSERT INTO book (title, author, year) VALUES (?, ?, ?)", books)
conn.commit()
conn.close()

In [20]:
conn = sqlite3.connect("books.db")
cursor = conn.cursor()

cursor.execute("SELECT title FROM book ORDER BY title")
for row in cursor.fetchall():
    print(row[0])

conn.close()

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

In [23]:
from sqlalchemy import create_engine, text

# Connect to the SQLite database
engine = create_engine('sqlite:///books.db')

# Run the query and print results
with engine.connect() as conn:
    result = conn.execute(text("SELECT title FROM book ORDER BY title"))
    for row in result:
        print(row[0])

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!